<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.gov.cbec"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.gov.cbec.SplashScreenActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_cbec_main"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CbecMainActivity"
            android:label="@string/title_activity_cbec_main" >
        </activity>
        <activity
            android:name="in.gov.cbec.CustomsMainActivity"/>
        <activity
            android:name="in.gov.cbec.customs.CustomsActsActivity"/>
        <activity
            android:name="in.gov.cbec.ExciseMainActivity"/>
         <activity
            android:name="in.gov.cbec.excise.ExciseActsActivity"/>
        <activity
            android:name="in.gov.cbec.STMainActivity"/>
         <activity
            android:name="in.gov.cbec.st.STActsActivity"/>
        <activity
            android:name="in.gov.cbec.CbecWebViewActivity"/>
        <activity
            android:name="in.gov.cbec.NewsMainActivity"/>
        <activity
            android:name="in.gov.cbec.NewsActivity"/>
        <service android:name="in.gov.cbec.util.RssService" />
    </application>

</manifest>